@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Oswald:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta&family=Oswald:wght@500;600&display=swap');
@font-face {
    font-family: 'fonte-game';
    src: url('../fontes/SuperMario256.ttf') format('truetype');
}

:root {
    --fonte-principal: 'Mukta', sans-serif;
    --fonte-negrito: 'Oswald', sans-serif;
    --fonte-titulo: 'Anton', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
    text-align: center;
    background-color: rgb(174, 171, 171);
    box-shadow: -3px 0px 6px 2px rgba(0, 0, 0, 0.398);
}

header h1 {
    font: 3.5em var(--fonte-titulo);
    margin-bottom: -15px;
}

header p {
    font: 1.3em var(--fonte-principal);
}

header a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

header a:hover {
    text-decoration: underline;
    font-weight: bold;
}

article.introducao {
    padding-top: 70px;
    margin-bottom: 65px;
}

article.introducao > p {
    font-family: var(--fonte-principal);
    font-size: 1.3em;

    text-align: justify;
    text-indent: 30px;

    margin: 30px;

    text-shadow: 3px 2px 11px rgba(0, 0, 0, 0.39);
}

article.introducao > p#paragrafo-emoji::after {
    content: "\1F601 \1F44D";
}

article.background {
    padding: 50px;

    background: lightgray no-repeat fixed;
    background-size: cover;
}

article.background > h2 {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 3.5vw;
    margin-bottom: 70px;

    color: white;

    text-shadow: 2px 2px black;
}

article.background > p {
    font-family: var(--fonte-principal);
    font-size: 2.1vw;

    max-width: 40%;
    padding: 20px;

    text-align: justify;
    text-indent: 30px;

    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 21px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.195);

    text-shadow: 1px 1px black;
}